.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.grid-background {
  width: 100%;
  height: 100%;
  background-color: black;
  /* Grid lines: white outline, hard stops for pixelated look */
  background-image:
    linear-gradient(to right, white 4px, transparent 4px),
    linear-gradient(to bottom, white 4px, transparent 4px);
  background-size: 10vw 10vw; /* 10% of viewport width */
  image-rendering: pixelated;
}
